name: CI
run-name: Site deployment
on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    environment: deploy
    steps:
      - name: Checkout the current branch
        uses: actions/checkout@v3

      - name: Initialize the ssh-agent
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Scan the host key
        run: mkdir -p ~/.ssh/ && ssh-keyscan -H $DEPLOY_SERVER >> ~/.ssh/known_hosts
        env:
          DEPLOY_SERVER: ${{ secrets.DEPLOY_SERVER }}

      - name: Install Hugo
        run: sudo snap install hugo

      - name: Build with Hugo
        working-directory: ./hugo
        run: hugo --minify

      - name: Deploy the website
        run: >-
          rsync -avx --no-perms --no-owner --no-group --omit-dir-times --delete .hugo/public $DEPLOY_USERNAME@$DEPLOY_SERVER:/data/docker/nginx/www/diff-render
        env:
          DEPLOY_SERVER: ${{ secrets.DEPLOY_SERVER }}
          DEPLOY_USERNAME: ${{ secrets.DEPLOY_USERNAME }}
